<%#- anything you put here will appear as a popup warning on every screen in Alaveteli -%>
<p>FrågaStaten är för närvarande i Alpha! Vänligen <a href="<%= help_contact_path %>">kontakta oss</a> för konstruktiv feedback på förbättringar!</p>
<p>Under Alpha-perioden förbehåller vi oss rätten att ta kontakt med dig som testar.</p>
<p>Att delta och svara är frivilligt och vi gör det bara för att kunna undersöka kring hur vi kan göra plattformen bättre för dig.</p>
