<%#- anything you put here will appear as a popup warning on every screen in Alaveteli -%>
<p>FrågaStaten is currently in Alpha! Please <a href="<%= help_contact_path %>">contact us</a> for constructive feedback on improvements!</p>
<p>During the Alpha-period, we reserve ourselves the right to contact you who are testing. This is only to investigate on how we can make the platform better.</p>
