<%#- anything you put here will appear as a popup warning on every screen in Alaveteli -%>
<p>FrågaStaten är för närvarande i Alpha! Vänligen <a href="<%= help_contact_path %>">kontakta oss</a> för konstruktiv feedback på förbättringar!</p>
<p>Under Alpha-perioden förbehåller vi oss rätten att ta kontakt med dig som testar. Detta är bara för att kunna undersöka kring hur vi kan göra plattformen bättre.</p>
