According to the law, you do not have the right to always receive a public document through a digital channel, format nor for free. It depends on the nature of the requested document. One reason for non-digital disclosure of public document is e.g. that it is extremely important that the personal integrity of private individuals is upheld as there may be sensitive data in a public document. This is however an issue as practically anybody can digitise a phsyical public document today.

Read more at <a href="http://www.vidareutnyttjande.se/juridik-och-rekommendationer/regelverket/bestammelser-om-avgifter/statliga-myndigheter/">Vidareutnyttjande.se</a>.

However there are otherwise many advantages and you always to have the right to digital and anonymous correspondence, (<a href="<%= help_page_url %>#full_address">more details</a>).

At the bottom of this page, write a reply to the authority explaining this to them.
