<% @title = "Credit where credit is due" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">

<h1 id="credits"><%= @title%> <a href="#credits">#</a> </h1>

<dl>

<dt id="thanks">Which people made <%= site_name %>? <a href="#thanks">#</a> </dt>
<dd>Oh, a few of us at Open Knowledge Sweden (and <a href="http://se.okfn.org/get-involved">maybe you too</a>)?
<ul>
  <li>
      <a href="http://www.vinnova.se">VINNOVA</a>
      (<a href="http://www.vinnova.se/sv/Var-verksamhet/Strategiskt-viktiga-kunskapsomraden/Tjanster-och-IKT/Oppen-innovation/">Open Innovation</a>) track has
      been pushing the idea of open innovation in Sweden for several years. They granted this project financial support for the initial execution of this project.
  </li>
<li>
    <a href="https://www.kth.se/en/itm/inst/indek/avdelningar/entreprenorskap-och-innovation/personal/serdar-temiz-1.292421">Serdar Temiz</a>, PhD Cand. at Royal Institute of Technology in Stockholm
    who researches open innovation through open data and public information.
</li>
<li>
    Thanks particularly to Jonas Nordin (<a href="https://frittord250.se/">initiative for 250th year anniversary of Freedom of Press and Freedom of Information in Sweden!</a>),
    Per Hagström (<a href="http://www.allmanhandling.se/">great blog and FAQ on Freedom of Information in Sweden!</a>),
    Jens Finnäs (<a href="http://www.datajournalistik.se/">awesome toolbox for data journalism!</a>) and
    Nils Funcke (<a href="http://www.nilsfuncke.se/">constant watchman for Principle of Public Access (Offentlighetsprincipen) and Freedom of Information in Sweden!</a>)
    who all have been providing expert and user input to the project.
</li>
<li>
    The amazing team of volunteers who run the site, answer your support
    emails, maintain the database of public authorities and
    <a href="http://se.okfn.org/get-involved/projects">so much more</a>.
</li>
<li>
    Volunteers who provide patches to the code!
</li>
<li>
    Everyone who has helped look up FOI email addresses and other relevant information to public bodies in Sweden.
</li>
<li>
    We could not do any of this without Swedish historical pioneers
    <a href="http://peterforsskal.com/">Peter Forsskål</a>, <a href="http://www.chydenius.net/eng/index.asp">Anders Chydenius</a>,
    <a href="https://en.wikipedia.org/wiki/Freedom_of_Press#Sweden">Freedom of the Press Act</a> and the <a href="https://en.wikipedia.org/wiki/Freedom_of_information_laws_by_country#Sweden">Principle of Public Access</a>,
    who laid the foundation for accountability in democracies and the open innovation that comes through the use of openly accessible information and data.
</li>
<li>
    Finally, all the civil servants who have answer the requests
    made through the site. Their diligence, patience and professionalism is
    what has actually made the information that you see here accessible. Thank them for
    helping make Public Sector administration and Government more transparent in Sweden.
</li>
<li>
    More people will be mentioned here in due time.
</li>
</ul>
You're all stars.
</dd>

<dt id="helpus">Can I help out? <a href="#helpus">#</a> </dt>
<dd>
    <p>Yes please! We're built out of our supporters and volunteers.</p>
    <ul>
    <li>You can <a href="https://se.okfn.org/donate/">make a donation</a>. We're a registered non-profit.</li>
    <li>Help people find successful requests, and monitor performance of authorities, by
    <a href="/categorise/play">playing the categorisation game</a>. </li>
    <li>Find out FOI (registrators') email addresses of <a href="/help/requesting#missing_body">authorities that we are missing</a>.</li>
    <li>Write a blog post about either <%= site_name %> or an interesting request that you have
    found. Post about it on a forum that you frequent. Tell friends about it.</li> <li>If you're
    a programmer, get the source code for our parent project, <a href="http://alaveteli.org">Alaveteli</a>
    and tell us about patches we can pull. It is made in Ruby on Rails.
    <li>Read more about <a href="http://se.okfn.org/get-involved/">volunteering with Open Knowledge Sweden</a>.
    </ul>
</dd>


<div id="hash_link_padding"></div>


</div>
