<% @title = "Credit where credit is due" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">

<h1 id="credits"><%= @title%> <a href="#credits">#</a> </h1>

<dl>

<dt id="thanks">Vilka människor gjorde FrågaStaten? <a href="#thanks">#</a> </dt>
<dd>Åh, några av oss på Open Knowledge Sweden (och <a href="http://se.okfn.org/get-involved">kanske du också</a>)?
<ul>
  <li>
      <a href="http://www.vinnova.se">VINNOVA</a>
      (<a href="http://www.vinnova.se/sv/Var-verksamhet/Strategiskt-viktiga-kunskapsomraden/Tjanster-och-IKT/Oppen-innovation/">öppen innovations-spåret!</a>) har
      drivit idén om öppen innovation i Sverige i flera år nu. De beviljade detta projekt ekonomiskt stöd för initialt genomförande av detta projekt.
  </li>
<li>
    <a href="https://www.kth.se/en/itm/inst/indek/avdelningar/entreprenorskap-och-innovation/personal/serdar-temiz-1.292421">Serdar Temiz</a>, PhD Cand. vid Kungliga Tekniska Högskolan i Stockholm
    som forskar på öppen innovation genom öppna data och allmän information.
</li>
<li>
    Tack särskilt till Jonas Nordin (<a href="https://frittord250.se/">FrittOrd250-initiativet för 250-årsfirandet av Tryckfrihetsförordningen och Offentlighetsprincipen i Sverige!</a>),
    Per Hagström (<a href="http://www.allmanhandling.se/">bra blogg och FAQ på svenska Offentlighetsprincipen!</a>),
    Jens Finnäs (<a href="http://www.datajournalistik.se/">fantastisk verktygslåda för datajournalistik!</a>) och
    Nils Funcke (<a href="http://www.nilsfuncke.se/">konstant väktare för Offentlighetsprincipen i Sverige!</a>) som alla har tillhandahållit expert- och användarsynpunkter för projektet.
</li>
<li>
    Den fantastiska grupp frivilliga som driver webbplatsen, svarar ert stöd
    e-post, underhålla databasen av myndigheter och
    <a href="http://se.okfn.org/get-involved/projects">så mycket mer</a>.
</li>
<li>
    Volontärer som tillhandahåller patchar till koden!
</li>
<li>
    Alla som har hjälpt leta upp e-postadresser för registratorer i offentlig sektor och annan relevant information till offentliga institutioner i Sverige.
</li>
<li>
    Vi kunde inte göra något av detta utan svenska historiska pionjärer
    <a href="http://peterforsskal.com/">Peter Forsskål</a>, <a href="http://www.chydenius.net/sve/index.asp">Anders Chydenius</a>,
    <a href="https://sv.wikipedia.org/wiki/Tryckfrihetsf%C3%B6rordningen">Tryckfrihetsförordningen</a> och <a href="https://sv.wikipedia.org/wiki/Offentlighetsprincipen">Offentlighetsprincipen</a>,
    som lade grunden för ansvarighet i demokratier och öppen innovation som kommer genom användning av öppet tillgänglig information och data.
</li>
<li>
    Slutligen, alla civila tjänstemän som besvarar förfrågningar
    som görs genom webbplatsen. Deras flit, tålamod och professionalism är
    vad som faktiskt gör den information som du ser här tillgänglig. Tacka dem för
    att de hjälper göra den offentliga sektorns förvaltning och styre mer öppet i Sverige.
</li>
<li>
    Fler människor kommer att nämnas här inom lämplig tid.
</li>
</ul>
Ni är alla stjärnor.
</dd>

<dt id="helpus">Kan jag hjälpa till? <a href="#helpus">#</a> </dt>
<dd>
    <p> Ja tack! Vi är byggda av våra supportrar och volontärer. </p>
    <ul>
    <li>Du kan <a href="https://se.okfn.org/donate/">göra en donation</a>. Vi är en registrerad och icke-vinstdrivande ideell förening.</li>
    <li>Hjälpa människor att hitta framgångsrika förfrågningar och bevaka myndigheternas prestanda genom att
    <a href="/categorise/play">spela kategoriserings-spelet</a>. </li>
    <li>Ta reda på e-postadresser till registratorer på <a href="/help/requesting#missing_body">myndigheter som vi saknar</a>.</li>
    <li>Skriv ett blogginlägg om antingen FrågaStaten eller en intressant begäran som du har
    hittat. Skriv om det på ett forum som du ofta besöker. Berätta för vänner om det.</li> <li>Om du är
    en programmerare, använd källkoden för vårt moderprojekt, <a href="http://alaveteli.org">Alaveteli</a>
    och berätta om patchar vi kan be om. Den är gjord i Ruby on Rails.
    <li>Läs mer om <a href="http://se.okfn.org/get-involved/">frivilligt engagemang med Open Knowledge Sweden</a>.
    </ul>
</dd>


<div id="hash_link_padding"></div>


</div>
