<% @title = "Help out" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">
 <h1>Hjälp oss!</h1>

 <p>Se Open Knowledge Sveriges <a href="http://se.okfn.org/get-involved">hemsida</a>!</p>
</div>
