<% @title = "Help out" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">
 <h1>Help us!</h1>

 <p>See Open Knowledge Sweden's <a href="http://se.okfn.org/get-involved">website</a>! More information will come.</p>
</div>
