<% @title = "Unhappy about a Freedom of Information request?" %>


<% if !@info_request.nil? %>
<h1>Unhappy about the response you got
to your request '<%=request_link(@info_request) %>'?
</h1>
<% else %>
<h1>Unhappy about the response you got?</h1>
<% end %>

<p>Guide coming soon! Until then, we recommend this general guide to make an appeal which you find at 
  <a href="http://www.allmanhandling.se/?page_id=5836">AllmanHandling.se</a> or this one
  regarding decisions on secrecy also at <a href="http://www.allmanhandling.se/?p=5784">AllmanHandling.se</a>.</p>
